<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- DNS Prefetch: So browser can look up DNS records before it needs the resources. Only list used external resources on this page -->
  <link rel="dns-prefetch" href="{{ CDN.url  }}" />
  <link rel="dns-prefetch" href="{{ fontservice.url }}" />
  <link rel="dns-prefetch" href="{{ analytics.url }}" />
  <link rel="dns-prefetch" href="{{ analytics.url }}" />

  <!-- Page info -->
  <title>Example web page structure</title>

  <!-- page meta -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="author" content="{{ author.name }}">


  <!-- opengraph meta: note :- Facebook will inherit page meta and scrape page as a fallback-->
  <meta property="og:title" content="{{ page.description }}" />
  <meta property="og:url" content="https://{{ webpage.url }}" />
  <meta property="og:site_name" content="{{ website.name }}" />
  <meta property="og:type" content="{{ content.type | website,game,book,shop,etc }}" />
  <meta property="og:image" content="{{ image.for.page }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="fb:admins" content="{{ facebook.admin.id (1234567890) }}" />


  <!-- twitter card meta: note :- Twitter will inherit og meta as a fallback -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ twitter.account.for.website | @username }}">
  <meta name="twitter:creator" content="{{ twitter.account.for.author | @username }}">
  <meta name="twitter:title" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ image.for.page }}">

  <!-- Page schema that can't be done on actual markup -->
  <script type="application/ld+json">
	{ "@context" : "http://schema.org",
	  "@type" : "{{ type.of.schema | Organisation, website, shop }}",
	  "name" : "{{ name.of.entity }}",
	  "url" : "{{ entity.root.url }}",
	  "sameAs" :
      [
        "{{ linked.page | facebook.url, twitter.url, foursquare.url }}",
  	    "{{ linked.page | facebook.url, twitter.url, foursquare.url }}",
  	    "{{ linked.page | facebook.url, twitter.url, foursquare.url }}",
      ],
	  "logo" : "{{ entity.image.url }}"
	}
	</script>


  <!-- Canonical -->
  <link rel="canonical" href="{{ canonical.page.url }}">
  <!-- if relevent then previous and next page to - e.g. on a series of posts, articles -->
  <link rel="prev" href="{{ previous.page }}" />
  <link rel="next" href="{{ next.page }}" />


  <!-- Icons and favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url or cdn.url }}/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url or cdn.url }}/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url or cdn.url }}/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url or cdn.url }}/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url or cdn.url }}/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url or cdn.url }}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url or cdn.url }}/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url or cdn.url }}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url or cdn.url }}/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="{{ site.url or cdn.url }}/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.url or cdn.url }}/favicon.ico">
  <!-- there are more!! this list is a short one! see: https://realfavicongenerator.net/ -->

  <!-- LOAD RESOURCES -->
  <!-- CSS: Critical CSS if possible -->
  <!-- CSS: concatonate (where possible) and minify always -->
  <!-- CSS: global -->
  <!-- CSS: section specific -->
  <!-- CSS: page specific -->
  <link rel="stylesheet" href="page.css" />

  <!-- for style purposes I am including boostrap vis the CDN - NEVER DO THIS! -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />


  <!-- Javascript: Header only - Modernizr, Typekit / Google fonts - Concat (where possible) and minify all internal js -->
  <!-- Note: See my rant at the footer js end about ads and analytics! -->
  <script src="header.js"></script>
  <script src="{{ external.js.link }}"></script>

</head>
<body>
  <!-- Try navigating by keyboard and watch it appear! Neat huh! -->
  <a href="#maincontent" class="sr-only sr-only-focusable js-skip">Skip to main content</a>

  <header>
    <nav role="navigation">
      <ul>
        <li>
          <a href="index.html" title="Something that describes this link">Overview &amp; intro </a>
        </li>
        <li>
          <a href="forms.html" title="Something that describes this link">Forms</a>
        </li>
      </ul>
    </nav>
  <header>

  <div id="maincontent">
    <h1>An accessible form</h1>
    <p>Forms must have labels. That is how a screen reader tells a user what to put in a field. Placeholder text is not always shown or read out. If a field is filled then placeholder text is removed making the field useless for a user. A placeholder can be used to ADD to the useful info a user sees. It should not be the only way information is shown. The field and label must be linked by <code>name and for</code>, or by wrapping the field inside the label.</p>

    <p><code>fieldset</code> elements should be used to group content. There can and should be multiple levels of fieldsets. A field set is semantic whereas a div means nothing.</p>

    <p><code>legend</code> tags should be used to provide descriptions of the form groupings.</p>

    <h2>Example of a form</h2>
    <form>
    <fieldset>
      <legend>Enter some info here</legend>
      <fieldset>
        <legend>Who are you?</legend>
        <label for="fName">First Name</label>
        <input id="fName" type="text" name="fName" aria-required="true" aria-invalid="false"/>
        <label for="sName">Surname</label>
        <input id="sName" type="text" name="sName" aria-required="true" aria-invalid="false"/>
      </fieldset>

      <fieldset>
        <legend>How can we contact you?</legend>
        <label for="email">Email address</label>
        <span class="form-error" style="color:red;">Email address is invalid</span>
        <input id="email" type="email" name="email" aria-required="true" aria-invalid="true" value="not an email address @ test . hello"/>
      </fieldset>
    </fieldset>
    <div class="form-error-list" style="color:red;">There were the following errors:
      <ul>
        <li>
          <a href="#email" style="color:red;">Email address is invalid</a>
        </li>
      </ul>
    </div>
    <button>Submit</button>
  </form>

</div>

<!-- Javascript: Footer only - jQuery, Analytics, Ads e.t.c -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="footer.js"></script>

<!-- focus fix js -->
<script>
$( document ).ready(function() {
      // bind a click event to the 'skip' link
      $(".js-skip").click(function(event){

          // strip the leading hash and declare
          // the content we're skipping to
          var skipTo="#"+this.href.split('#')[1];

          // Setting 'tabindex' to -1 takes an element out of normal
          // tab flow but allows it to be focused via javascript
          $(skipTo).attr('tabindex', -1).on('blur focusout', function () {

              // when focus leaves this element,
              // remove the tabindex attribute
              $(this).removeAttr('tabindex');

          }).focus(); // focus on the content container
      });
  });
</script>
  <!-- Note: For ads and analytics - I don't care what they say about being at the end of the head. They are not optimising the page - they want 'page views' so they are biased! -->
  <!-- analytics -->
  <script src="{{ some.external.url}}"></script>
  <!-- ads -->
  <script src="{{ some.external.url}}"></script>
</body>
</html>
