<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- DNS Prefetch: So browser can look up DNS records before it needs the resources. Only list used external resources on this page -->
  <link rel="dns-prefetch" href="{{ CDN.url  }}" />
  <link rel="dns-prefetch" href="{{ fontservice.url }}" />
  <link rel="dns-prefetch" href="{{ analytics.url }}" />
  <link rel="dns-prefetch" href="{{ analytics.url }}" />

  <!-- Page info -->
  <title>Example web page structure</title>

  <!-- page meta -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="author" content="{{ author.name }}">


  <!-- opengraph meta: note :- Facebook will inherit page meta and scrape page as a fallback-->
  <meta property="og:title" content="{{ page.description }}" />
  <meta property="og:url" content="https://{{ webpage.url }}" />
  <meta property="og:site_name" content="{{ website.name }}" />
  <meta property="og:type" content="{{ content.type | website,game,book,shop,etc }}" />
  <meta property="og:image" content="{{ image.for.page }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="fb:admins" content="{{ facebook.admin.id (1234567890) }}" />


  <!-- twitter card meta: note :- Twitter will inherit og meta as a fallback -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ twitter.account.for.website | @username }}">
  <meta name="twitter:creator" content="{{ twitter.account.for.author | @username }}">
  <meta name="twitter:title" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ image.for.page }}">

  <!-- Page schema that can't be done on actual markup -->
  <script type="application/ld+json">
	{ "@context" : "http://schema.org",
	  "@type" : "{{ type.of.schema | Organisation, website, shop }}",
	  "name" : "{{ name.of.entity }}",
	  "url" : "{{ entity.root.url }}",
	  "sameAs" :
      [
        "{{ linked.page | facebook.url, twitter.url, foursquare.url }}",
  	    "{{ linked.page | facebook.url, twitter.url, foursquare.url }}",
  	    "{{ linked.page | facebook.url, twitter.url, foursquare.url }}",
      ],
	  "logo" : "{{ entity.image.url }}"
	}
	</script>


  <!-- Canonical -->
  <link rel="canonical" href="{{ canonical.page.url }}">
  <!-- if relevent then previous and next page to - e.g. on a series of posts, articles -->
  <link rel="prev" href="{{ previous.page }}" />
  <link rel="next" href="{{ next.page }}" />


  <!-- Icons and favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url or cdn.url }}/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url or cdn.url }}/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url or cdn.url }}/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url or cdn.url }}/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url or cdn.url }}/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url or cdn.url }}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url or cdn.url }}/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url or cdn.url }}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url or cdn.url }}/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.url or cdn.url }}/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="{{ site.url or cdn.url }}/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.url or cdn.url }}/favicon.ico">
  <!-- there are more!! this list is a short one! see: https://realfavicongenerator.net/ -->

  <!-- LOAD RESOURCES -->
  <!-- CSS: Critical CSS if possible -->
  <!-- CSS: concatonate (where possible) and minify always -->
  <!-- CSS: global -->
  <!-- CSS: section specific -->
  <!-- CSS: page specific -->
  <link rel="stylesheet" href="page.css" />

  <!-- for style purposes I am including boostrap vis the CDN - NEVER DO THIS! -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />


  <!-- Javascript: Header only - Modernizr, Typekit / Google fonts - Concat (where possible) and minify all internal js -->
  <!-- Note: See my rant at the footer js end about ads and analytics! -->
  <script src="header.js"></script>
  <script src="{{ external.js.link }}"></script>

</head>
<body>
  <!-- Try navigating by keyboard and watch it appear! Neat huh! -->
  <a href="#maincontent" class="sr-only sr-only-focusable js-skip">Skip to main content</a>

  <header>
    <nav role="navigation">
      <ul>
        <li>
          <a href="index.html" title="Something that describes this link">Overview &amp; intro </a>
        </li>
        <li>
          <a href="forms.html" title="Something that describes this link">Forms</a>
        </li>
      </ul>
    </nav>
  <header>

  <article itemscope itemtype='http://schema.org/Article' id="maincontent">
    <meta itemprop='keywords' content='front-end, webdesign, web'/>
    <meta itemprop='inLanguage' content='en-UK'/>
    <meta itemprop='interactionCount' content='UserTweets: 12345'/>
    <meta itemprop='description' content='{{ page.short_description }}'/>
    <meta itemprop='about' content='{{ page.subject_matter }}'/>
    <meta itemprop='isFamilyFriendly' content='True'/>

    <h1>Example web page structure</h1>


    <!-- Authorship instructions start: -->
       Written by:
       <span itemscope itemprop='author' itemtype='http://schema.org/Person'>
           <span itemprop='name'>
               <a itemprop='url' href='{{ googleplus.id }}'>{{ author.name }}</a>
           </span>
       </span>
       <!-- Authorship instructions end -->

       Published by:
       <span itemscope itemprop='sourceOrganization' itemtype='http://schema.org/Organization'>
           <span itemprop='name'><a itemprop='url' href='{{ organisation.url }}'>{{ organisation.name }}</a></span>
           <img itemprop='logo' src='{{ publisher.logo }}' />
       </span>

       Copyright holder:
       <span itemscope itemprop='sourceOrganization' itemtype='http://schema.org/Organization'>
           <span itemprop='name'><a itemprop='url' href='{{ copyright_holder.url }}'>{{ copyright_holder.name }}</a></span>
           <img itemprop='logo' src='{{ copyright_holder.logo }}' />
       </span>
        on
       <time datetime='date_created: 2016-02-19' itemprop='datePublished'>date_created: 2016-02-19</time>

       <div itemprop='articleBody'>

          <h2>Page mark up</h2>

          <p>Littered throughout this page you will find markup like <code> {{ something.something-else }}</code>. It should be replaced with content that fits the space. In some cases you will see things like <code> {{ something.type | website, book, game }}</code>. In these cases I have tried to specify further what type of data is expected.</p>


          <h2>Physical page structure</h2>

          <p>The page is structured in the following way: </p>
          <h3>Head</h3>
            <ul>
              <li>DNS Prefetch</li>
              <li>Page Info
                <ul>
                  <li>Title</li>
                  <li>Basic Meta</li>
                  <li>OpenGraph</li>
                  <li>Twitter Card</li>
                  <li>Schema</li>
                  <li>Canonical, next and previous links</li>
                  <li>Icons and favicons</li>
                </ul>
              </li>
              <li>Resources
                <ul>
                  <li>CSS
                    <ul>
                      <li>Global</li>
                      <li>Section</li>
                      <li>page</li>
                    </ul>
                  </li>
                  <li>Javascript
                    <ul>
                      <li>Minimal internal js required for header (e.g Modernizr)</li>
                      <li>Minimal External (e.g. Font Services)</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          <h3>Body</h3>
            <ul>
              <li>Semantically marked up html, with page contents</li>
              <li>Javascript
                <ul>
                  <li>External libraries required from CDN (e.g. jQuery)</li>
                  <li>Internal Javascript</li>
                  <li>External services (e.g. Analytics, tracking and Advertising)</li>
                </ul>
              </li>
            </ul>

        <h2>Schema</h2>
        <p>This page is marked up with <a href="https://schema.org/Article">schema for an article</a>. You can find out more about Schema types and what can be marked up <a href="https://schema.org">on the schema.org website</a>.


        <h2>Accessibility</h2>
        <p>Accessibility is hard to demo on a page with only a basic stylesheet and no media or forms.</p>

        <h3>Skip navigation on tab</h3>
        <p>There is a know issue in major browsers when tabbing and skipping the main navigation, so a javascript alternative. You should see it in the footer as <code>focus fix js</code>. It's written inline (you should minify this as part of your site js).</p>


    </div>
  </article>
  <!-- Javascript: Footer only - jQuery, Analytics, Ads e.t.c -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="footer.js"></script>

  <!-- focus fix js -->
  <script>
  $( document ).ready(function() {
        // bind a click event to the 'skip' link
        $(".js-skip").click(function(event){

            // strip the leading hash and declare
            // the content we're skipping to
            var skipTo="#"+this.href.split('#')[1];

            // Setting 'tabindex' to -1 takes an element out of normal
            // tab flow but allows it to be focused via javascript
            $(skipTo).attr('tabindex', -1).on('blur focusout', function () {

                // when focus leaves this element,
                // remove the tabindex attribute
                $(this).removeAttr('tabindex');

            }).focus(); // focus on the content container
        });
    });
  </script>
  <!-- Note: For ads and analytics - I don't care what they say about being at the end of the head. They are not optimising the page - they want 'page views' so they are biased! -->
  <!-- analytics -->
  <script src="{{ some.external.url}}"></script>
  <!-- ads -->
  <script src="{{ some.external.url}}"></script>
</body>
</html>
